@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Setup.cshtml";
}

@section Styles {
    <link href="~/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Service Name</th>
                                        <th>Service Image</th>
                                        <th>AddedDate</th>
                                        <th>CreatedBy</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
    </section>
</div>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue text-white shadow-none">
                <h6 class="modal-title" id="basicModalLabel">Add Country</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="Post" class="form-horizontal" id="myForm">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <div class="list-with-gap">
                                <div class="floating-label">
                                    <input type="text" class="form-control" id="floatingCountryName" placeholder="CountryName">
                                    <label for="floatingCountryName">Country Name</label>
                                </div>

                                <div class="floating-label">
                                    <input type="text" class="form-control" id="floatingNationality" placeholder="Nationality">
                                    <label for="floatingNationality">Nationality</label>
                                </div>

                                <div class="floating-label">
                                    <input type="text" class="form-control" id="floatingCountryCode" placeholder="CountryCode">
                                    <label for="floatingCountryCode">Country Code</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" data-dismiss="modal" id="btnSave" disabled>Submit</button>
                        <button class="btn btn-warning" type="reset" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditbasicModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue text-white shadow-none">
                <h6 class="modal-title" id="basicModalLabel">Edit Country</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="Post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <div class="list-with-gap">
                                <div class="floating-label">
                                    <input type="text" class="form-control" id="floatingCountryNames" placeholder="CountryName">
                                    <label for="floatingCountryNames">Country Name</label>
                                </div>

                                <div class="floating-label">
                                    <input type="text" class="form-control" id="floatingNationalitys" placeholder="Nationality">
                                    <label for="floatingNationalitys">Nationality</label>
                                </div>

                                <div class="floating-label">
                                    <input type="text" class="form-control" id="floatingCountryCodes" placeholder="CountryCode">
                                    <label for="floatingCountryCodes">Country Code</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" data-dismiss="modal" id="btnUpdate">Submit</button>
                        <button class="btn btn-warning" type="reset" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/assets/js/lib/data-table/datatables-init.js"></script>
}